/* o seletor abaixo seleciona o body e muda a cor de fundo, a cor da letra e acrescenta uma margem no fundo */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playwrite GB S", cursive;
}
body {
    background-color: #a8a6b14c;
    color: rgb(164, 33, 182);
    margin-bottom: 300px;
}

.sublinhado {
    text-decoration: underline;
}
.verde {
    color: green;
}
#maiusculas {
    text-transform: uppercase;
}

li::marker {
    color: red;
}